

h1{
    background-color: aqua;
}

/* mobile */
@media screen and  (min-width:0px) and (max-width:480px)  {
    h1{
        background-color: red;
    }
}
/* tablet */
@media screen and  (min-width:481px) and (max-width:768px)  {
    h1{
        background-color: rgb(45, 14, 219);
    }
}